<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>
    <%- partial('_partial/categories') %>
    <main class="container">
      <%- body %>
    </main>
  </body>
</html>