

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 1.5;
  color: #606266;
}

body, html, ul, li, div, p{
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited{
  text-decoration: none;
  color: #368CCB;
}

.clearfix{

}
.fl{
  float: left;
}
.fr{
  float: right;
}


.flex-center-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-start{
  display: flex;
  align-items: center;
  justify-content: start;
}

@import "_partial/iconfont";
@import "_partial/header";
@import "_partial/post";